OPENWEATHER_API_KEY=

COUNTRY_CODE=PK

AIR_QUALITY_PROVIDER=open_meteo

FEAST_PROJECT=pearls_aqi
FEAST_REPO_PATH=feature_repo

MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=pearls_aqi_prediction
MLFLOW_MODEL_NAME=pearls_aqi_model
MLFLOW_MODEL_ALIAS=champion

BACKFILL_DAYS=180